<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div [ngStyle]="{ 'background-color': color0}"></div>
        <div [ngStyle]="{ 'background-color': color1}"></div>
        <div [ngStyle]="{ 'background-color': color2}"></div>
        <div [ngStyle]="{ 'background-color': color3}"></div>
        <div [ngStyle]="{ 'background-color': color4}"></div>
        <div [ngStyle]="{ 'background-color': color5}"></div>
        <div [ngStyle]="{ 'background-color': color6}"></div>
        <div [ngStyle]="{ 'background-color': color7}"></div>

    </body>
</html>
